In [2]:
import sys  
sys.path.insert(0, '/scratch/szym/introns/noncanonical_introns')

from representation_wrapper import RepresentationWrapper
from Bio.SeqIO.FastaIO import SimpleFastaParser
import time
import pickle
import pandas

In [3]:
started = time.time()
file = '/scratch/szym/introns/subset.fasta'
with open(file, "r") as handle:
    sequences = list(SimpleFastaParser(handle))
    
types = [0]*len(sequences)
for i, s in enumerate(sequences):
    class_signature=s[0][-2:]
    if class_signature == "KX":    
        # 0  for conventional intron
        types[i] = (0)
    else:
        # 1 for nonconventional
        types[i] = (1)

print("Elapsed",time.time()-started, "seconds")

Elapsed 0.04565882682800293 seconds

In [6]:
started = time.time()
representations = RepresentationWrapper(sequences, None, "list_of_FASTA_pairs", "ACTG", '_', types)
print("Elapsed",time.time()-started, "seconds")

Elapsed 0.00036406517028808594 seconds

In [4]:
started = time.time()
representations.to_pandas_dataframe()
print("Elapsed",time.time()-started, "seconds")

Elapsed 46.942837715148926 seconds

In [7]:
representations.sanity_check()

(False, "Length of classes list doesn't match sequence count")

In [6]:
started = time.time()
pandas_object = pandas.read_pickle("/scratch/szym/subset.pickle")
print("Elapsed",time.time()-started, "seconds")
pandas_object

Elapsed 7.062097072601318 seconds

,0,1,2,3,4,5,6,7,8,9,...,30260,30261,30262,30263,30264,30265,30266,30267,class,length
Elonga_22251:22919_KX,G,T,G,T,T,G,C,T,T,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,668
Elonga_22976:24001_KX,G,T,G,C,G,T,T,G,C,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1025
Elonga_25370:26395_KX,G,T,G,C,G,T,T,G,C,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1025
Elonga_26452:27102_KX,G,T,G,T,T,G,C,T,T,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,650
Elonga_25370:26395_KX,G,T,G,C,G,T,T,G,C,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Elonga_21743:23524_XX,A,T,C,C,T,G,G,A,A,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1781
Elonga_21743:23524_XX,A,T,C,C,T,G,G,A,A,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1781
Elonga_21743:23524_XX,A,T,C,C,T,G,G,A,A,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1781
Elonga_21743:23524_XX,A,T,C,C,T,G,G,A,A,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1781
Elonga_16847:17365_XN,A,A,C,C,T,T,G,G,G,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,518

In [7]:
pandas_object.dtypes

0         Sparse[object, nan]
1         Sparse[object, nan]
2         Sparse[object, nan]
3         Sparse[object, nan]
4         Sparse[object, nan]
                 ...
30265     Sparse[object, nan]
30266     Sparse[object, nan]
30267     Sparse[object, nan]
class                   int64
length                  int64
Length: 30270, dtype: object

In [8]:
col_count = len(representations.to_pandas_dataframe().columns)
representations.to_pandas_dataframe().columns = ["c%d"%i for i in range(col_count)]
started = time.time()
representations.to_pandas_dataframe().to_parquet("/scratch/szym/subset.parquet")
print("Elapsed",time.time()-started, "seconds")

TypeError: Sparse pandas data (column c0) not supported.